.contacto {
    background-image: url(../img/contacto.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

    .contacto-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;

        @media (max-width: 1400px) {
            width: 80%; 
        }

        @media (max-width: 768px) {
            width: 70%;
        }
        
        @media (max-width: 576px) {
            width: 80%;
        }

        .contacto-card-h2 {
            font-family: $title;
            font-size: 70px;
            margin-top: 40px;
            margin-bottom: 40px;
            color: white;
            text-shadow: 0 0 10px black;

            @media (max-width: 1400px) {
                font-size: 70px;
                margin: 20px;
            }
            
            @media (max-width: 992px) {
                font-size: 60px;
            }
            
            @media (max-width: 768px) {
                font-size: 48px;
            }
            
            @media (max-width: 576px) {
                font-size: 40px;
            }
        }

        .contacto-card-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;     
            
            .contacto-card-form-div {
                width: 100%;
                display: grid;
                min-height: 30vh;
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                font-family: $text;
                color: white;
                text-shadow: 0 0 10px black;
                
                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                }
                
                .contacto-card-form-div-text {
                    width: 95%;
                    padding: 15px;
                    height: 6vh;
                    font-family: $text;
                    border: none;
                    margin-bottom: 20px;

                    @media (max-width: 768px) {
                        width: 100%; 
                    }
                }

                h3 {
                    font-size: 35px;
                    font-family: $title;
                }

                #file-upload {
                    background-color: white;
                    width: 95%;
                    border-radius: 10px;
                    color: black;
                    font-family: $text;

                    @media (max-width: 768px) {
                        width: 100%; 
                    }
                }

                ::-webkit-file-upload-button {
                    text-align: center;
                    min-height: 5vh;
                    border: none;
                    padding: 10px;
                    background-color: $color2;
                    font-family: $title;
                    font-size: 20px;
                    color: white;
                    border-radius: 10px;
                    transition: 0.2s;
                    cursor: pointer;
                    margin-right: 7%;

                    &:hover {
                        color: $color5;
                    }
                }
            }
            
            .contacto-card-form-submit {
                text-align: center;
                text-decoration: none;
                border: none;
                padding: 10px;
                min-width: 20%;
                background-color: $color2;
                font-family: $title;
                font-size: 25px;
                color: white;
                border-radius: 10px;
                transition: 0.5s;
                box-shadow: 0 0 10px 1px black;
                margin-top: 30px;
                cursor: pointer;

                &:hover {
                    transform: translateY(-5px);
                    color: $color5;
                }

                @media (max-width: 768px) {
                    margin-bottom: 30px;
                    min-width: 40%;
                }
            }
        }
    }
}