.contacto {
    background-color: rgb(165, 165, 165);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .contacto-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;

        .contacto-card-h2 {
            font-family: $title;
            font-size: 70px;
            margin-bottom: 40px;
            color: $color2;

            @media (max-width: 1400px) {
                font-size: 70px;
                margin: 20px;
            }
            
            @media (max-width: 1200px) {
                font-size: 70px;
                margin: 20px;
            }
            
            @media (max-width: 992px) {
                font-size: 60px;
                margin: 20px;
            }
            
            @media (max-width: 768px) {
                font-size: 50px;
                margin: 20px;
            }
            
            @media (max-width: 576px) {
                font-size: 40px;
                margin: 20px;
            }
        }

        .contacto-card-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;     
            
            .contacto-card-form-div {
                width: 100%;
                display: flex;
                justify-content: space-between;
                
                @media (max-width: 768px) {
                    flex-direction: column; 
                }
                
                .contacto-card-form-div-text {
                    width: 30%;
                    padding: 15px;
                    font-family: $text;
                    border: none;
                    margin-bottom: 20px;

                    @media (max-width: 768px) {
                        width: 100%; 
                    }
                }
            }

            .contacto-card-form-textarea {
                width: 100%;
                height: 400px;
                padding: 15px;
                font-family: $text;
                border: none;
                margin-bottom: 30px;

                @media (max-width: 1400px) {
                    height: 350px;
                }

                @media (max-width: 768px) {
                    height: 230px;
                }
            }

            .contacto-card-form-submit {
                width: 180px;
                padding: 15px;
                font-family: $text;
                font-size: 18px;
                background-color: $color3;
                color: white;
                border: none;
            }
        }
    }
}