/*.footer {
    background-color: $color1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px 1px black;
    position: relative;
    z-index: 1000;
    
    .footer-title {
        font-family: $title;
        font-size: 50px;
        color: white;
        margin-top: 15px;

        @media (max-width: 1400px) {
            font-size: 50px;
        }

        @media (max-width: 1200px) {
            font-size: 45px;
        }

        @media (max-width: 992px) {
            font-size: 40px;
        }

        @media (max-width: 768px) {
            font-size: 40px;
        }

        @media (max-width: 576px) {
            font-size: 30px;
        }
    }

    .footer-icons {
        margin: 10px 0px 20px 0px;

            .footer-icons-link {
                color: white;
                margin: 10px;
                transition: 0.2s;

                &:hover {
                    color: $color5;
                }
            }
    }
}*/ 

.footer {
    background-color: $color1;
    box-shadow: 0 0 10px 1px black;
    position: relative;
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding: 15px;

    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
    }

     
    h4 {
        color: white;
        font-family: $title;
        font-size: 60px;
        margin-top: 25px;
        text-align: center;
        padding-bottom: 10px;
        align-self: center;

        @media (max-width: 1766px) {
            font-size: 50px;
        }

        @media (max-width: 1450px) {
            font-size: 40px;
        }

        @media (max-width: 1220px) {
            font-size: 30px;
        }

        @media (max-width: 470px) {
            font-size: 25px;
        }
    }

    .footer-app {
        display: grid;
        grid-template-rows: 2fr 3fr;
        justify-content: center;

        ul {

            li {
                list-style: none;
                margin-bottom: 15px;
                text-align: center;

                a {
                    color: white;
                    font-family: $text;
                    font-size: 22px;
                    text-decoration: none;
                    transition: 0.4s;

                    img {
                        width: 30%;

                        @media (max-width: 1400px) {
                            width: 40%;
                        }
                
                        @media (max-width: 1200px) {
                            width: 50%;
                        }
                
                        @media (max-width: 576px) {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }

    .footer-nosotros {
        display: grid;
        grid-template-rows: 2fr 3fr;
        justify-content: center;

        ul {

            li {
                list-style: none;
                margin-bottom: 15px;
                text-align: center;

                a {
                    color: white;
                    font-family: $text;
                    font-size: 22px;
                    text-decoration: none;
                    transition: 0.4s;
            
                    @media (max-width: 1200px) {
                        font-size: 18px;
                    }

                    &:hover {
                        color: $color5;
                    }
                }
            }
        }
    }

    .footer-contacto {
        display: grid;
        grid-template-rows: 2fr 3fr;
        justify-content: center;

        ul {

            li {
                list-style: none;
                margin-bottom: 15px;
                text-align: center;
                color: white;
                font-family: $text;
                font-size: 22px;

                @media (max-width: 1200px) {
                    font-size: 18px;
                }
            }

            a {
                color: white;
                font-family: $text;
                text-decoration: none;
                transition: 0.4s;

                &:hover {
                    color: $color5;
                }
            }
        }
    }

    .footer-redes {
        display: grid;
        grid-template-rows: 2fr 3fr;
        justify-content: center;
        
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            @media (max-width: 576px) {
                grid-template-columns: 1fr 1fr;
            }

            li {
                list-style: none;
                margin: 20px;
                
                @media (max-width: 576px) {
                    margin: 0 15px;
                }

                a {
                    color: white;
                    font-family: $text;
                    text-decoration: none;
                    transition: 0.4s;

                    &:hover {
                        color: $color5;
                    }

                    
                    svg {
                        width: 44px;

                        @media (max-width: 1400px) {
                            width: 40px;
                        }
                
                        @media (max-width: 1200px) {
                            width: 30px;
                        }
                
                        @media (max-width: 992px) {
                           width: 50px;
                        }
                
                        @media (max-width: 768px) {
                            width: 40px;
                        }
                
                        @media (max-width: 576px) {
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}