* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$title: 'Bebas Neue', cursive;
$text: 'Roboto', sans-serif;

$color1: #670f22;
$color2: #6a041a;
$color3: #9a0526;
$color4: #ab022f;
$color5: #cd0c36;