* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$title: 'Bebas Neue', cursive;
$text: 'Roboto', sans-serif;

$color1: #630000;
$color2: #810000;
$color3: #1B1717;
$color4: #c5c3ad;
$color5: #CE1212; 