.header {
    width: 100%;
    background-color: $color1;
    display: flex;
    justify-content: center;

    .header-nav {
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding: 0;

        .header-nav-title {
            font-family: $title;
            font-size: 60px;
            padding: 2px;

            @media (max-width: 1400px) {
                font-size: 75px;
            }
            
            @media (max-width: 1200px) {
                font-size: 70px;
            }
            
            @media (max-width: 992px) {
                font-size: 65px;
            }
            
            @media (max-width: 768px) {
                font-size: 60px;
            }

            @media (max-width: 576px) {
                font-size: 50px;
            }
        }

        .header-nav-div {

            .header-nav-div-ul {
                display: flex;
                justify-content: space-between;
                width: 60%;
                
                .header-nav-div-ul-li {
                    font-family: $title;
                    font-size: 35px;
                    transition: 0.2s;

                    @media (max-width: 1400px) {
                        font-size: 30px;
                    }

                    @media (max-width: 1200px) {
                        font-size: 25px;
                    }

                    @media (max-width: 992px) {
                        font-size: 25px;
                    }

                    @media (max-width: 768px) {
                        font-size: 25px;
                    }

                    @media (max-width: 576px) {
                        font-size: 25px;
                    }

                    a {
                        transition: 0.5s;

                        &:hover {
                            color: $color5;
                        }
                    }
                    
                }
            }
        }
    }
}