.divisor {
    background-color: $color1;
    padding: 10px;
    width: 100%;
    min-height: 7vh;
    box-shadow: 0 0 10px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: relative;

    h2 {
        font-family: $title;
        font-size: 50px;
        color: white;
        margin: 0;

        @media (max-width: 576px) {
            font-size: 40px;
        }
    }
}

.main-index {
    
    .carousel {

        .carousel-inner {
            position: relative;

            .main-index-txt {
                position: absolute;
                margin: 200px;
                z-index: 1000;
                text-shadow: 0 0 10px black;

                @media (max-width: 1400px) {
                    margin: 100px;
                }

                @media (max-width: 1200px) {
                    margin: 80px;
                }

                @media (max-width: 992px) {
                    margin: 60px;
                }

                @media (max-width: 768px) {
                    margin: 40px;
                }

                @media (max-width: 576px) {
                    margin: 30px;
                }

                .main-index-txt-title {
                    color: white;
                    font-family: $title;
                    font-size: 110px;

                    @media (max-width: 1400px) {
                        font-size: 90px;
                    }

                    @media (max-width: 1200px) {
                        font-size: 80px;
                    }

                    @media (max-width: 992px) {
                        font-size: 70px;
                    }

                    @media (max-width: 768px) {
                        font-size: 60px;
                    }

                    @media (max-width: 576px) {
                        font-size: 40px;
                    }
                }
        
                .main-index-txt-p {
                    color: white;
                    font-family: $title;
                    font-size: 40px;

                    @media (max-width: 1400px) {
                        font-size: 35px;
                    }

                    @media (max-width: 1200px) {
                        font-size: 35px;
                    }

                    @media (max-width: 992px) {
                        font-size: 35px;
                    }

                    @media (max-width: 768px) {
                        font-size: 30px;
                    }

                    @media (max-width: 576px) {
                        font-size: 20px;
                    }
                }
            }
            
            #slide1 {
                background-image: url(./../img/bg1.jpg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                min-height: 90vh;
            }

            #slide2 {
                background-image: url(./../img/bg2.jpg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                min-height: 90vh;
            }

            #slide3 {
                background-image: url(./../img/bg3.jpg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                min-height: 90vh;
            }

            #slide4 {
                background-image: url(./../img/bg4.jpg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                min-height: 90vh;
            }
        }
    }
}


.main-index-nosotros {
    display: flex;
    background-color: $color3;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;

    .main-index-nosotros-div{
        display: flex;
        justify-content: center;
        align-items: center;

        .main-index-nosotros-div-txt {
            min-height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url(./../img/nosotrosindex.png);
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
            text-shadow: 0 0 20px black;

            p {
                font-family: $text;
                font-size: 24px;
                color: white;
                width: 60%;
                text-align: center;
                text-shadow: 1px 1px 3px black;

                @media (max-width: 1400px) {
                    width: 80%;
                }

                @media (max-width: 1200px) {
                    width: 90%;
                }

                @media (max-width: 992px) {
                    font-size: 20px;
                }

                @media (max-width: 768px) {
                    margin-top: 80px;
                }

                @media (max-width: 576px) {
                    font-size: 20px;
                }
            }

            a {
                text-align: center;
                text-decoration: none;
                padding: 10px;
                min-width: 20%;
                background-color: $color2;
                font-family: $title;
                font-size: 25px;
                color: white;
                border-radius: 10px;
                transition: 0.5s;
                box-shadow: 0 0 10px 1px black;
                margin-top: 30px;

                &:hover {
                    transform: translateY(-5px);
                    color: $color5;
                }

                @media (max-width: 768px) {
                    margin-bottom: 30px;
                    min-width: 40%;
                }
            }
        }
    }
}

.main-index-sucursales {
    display: flex;
    background-color: $color3;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .main-index-sucursales-div{
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .main-index-sucursales-div-img {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            min-height: 25vh;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            a {
                width: 33%;
                text-align: center;
                
                @media (max-width: 768px) {
                    margin: 15px;
                    width: 100%;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}
