.main-sucursales {
    background-color: rgb(165, 165, 165);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: center;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    .main-sucursales-div1 {
        padding: 20px 10px 10px 20px;

        @media (max-width: 768px) {
            padding: 5px 10px;
        }

        #sucursal1 {
            color: white;
            text-decoration: none;
            background-image: url(../img/sucursal1.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            min-height: 40vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 0 0 20px black;
            transition: 0.4s;
    
            &:hover {
                z-index: 1000;
                transform: scale(1.02);
            }
    
            h2 {
                font-family: $title;
                font-size: 70px;
            }

            @media (max-width: 768px) {
                min-height: 30vh;
            }

        }
    }

    .main-sucursales-div2 {
        padding: 20px 20px 10px 10px;

        @media (max-width: 768px) {
            padding: 5px 10px;
        }
        
        #sucursal2 {
            color: white;
            text-decoration: none;
            background-image: url(../img/sucursal2.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            min-height: 40vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 0 0 20px black;
            transition: 0.4s;
            
            @media (max-width: 768px) {
                min-height: 30vh;
            }

            &:hover {
                z-index: 1000;
                transform: scale(1.02);
            }
    
            h2 {
                font-family: $title;
                font-size: 70px;
            }
        }
    }

    .main-sucursales-div3 {
        padding: 10px 10px 20px 20px;

        @media (max-width: 768px) {
            padding: 5px 10px;
        }

        #sucursal3 {
            color: white;
            text-decoration: none;
            background-image: url(../img/sucursal3.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            min-height: 40vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 0 0 20px black;
            transition: 0.4s;
            
            @media (max-width: 768px) {
                min-height: 30vh;
            }

            &:hover {
                z-index: 1000;
                transform: scale(1.02);
            }
    
            h2 {
                font-family: $title;
                font-size: 70px;
            }
        }
    }

    .main-sucursales-div4 {
        padding: 10px 20px 20px 10px;

        @media (max-width: 768px) {
            padding: 5px 10px;
        }

        #sucursal4 {
            color: white;
            text-decoration: none;
            background-image: url(../img/sucursal4.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            min-height: 40vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 0 0 20px black;
            transition: 0.4s;
            
            @media (max-width: 768px) {
                min-height: 30vh;
            }

            &:hover {
                z-index: 1000;
                transform: scale(1.02);
            }
    
            h2 {
                font-family: $title;
                font-size: 70px;
            }
        }
    }
}
