* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  width: 100%;
  background-color: #630000;
  display: flex;
  justify-content: center;
  min-height: 10vh;
  box-shadow: 0 0 10px 1px black;
  position: relative;
  z-index: 1000; }
  .header .header-nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0; }
    .header .header-nav .header-nav-title {
      font-family: "Bebas Neue", cursive;
      font-size: 60px;
      padding: 2px; }
      @media (max-width: 1400px) {
        .header .header-nav .header-nav-title {
          font-size: 75px; } }
      @media (max-width: 1200px) {
        .header .header-nav .header-nav-title {
          font-size: 70px; } }
      @media (max-width: 992px) {
        .header .header-nav .header-nav-title {
          font-size: 65px; } }
      @media (max-width: 768px) {
        .header .header-nav .header-nav-title {
          font-size: 60px; } }
      @media (max-width: 576px) {
        .header .header-nav .header-nav-title {
          font-size: 50px; } }
    .header .header-nav .header-nav-div .header-nav-div-ul {
      display: flex;
      justify-content: space-between;
      width: 60%; }
      .header .header-nav .header-nav-div .header-nav-div-ul .header-nav-div-ul-li {
        font-family: "Bebas Neue", cursive;
        font-size: 35px;
        transition: 0.2s; }
        @media (max-width: 1400px) {
          .header .header-nav .header-nav-div .header-nav-div-ul .header-nav-div-ul-li {
            font-size: 30px; } }
        @media (max-width: 1200px) {
          .header .header-nav .header-nav-div .header-nav-div-ul .header-nav-div-ul-li {
            font-size: 25px; } }
        @media (max-width: 992px) {
          .header .header-nav .header-nav-div .header-nav-div-ul .header-nav-div-ul-li {
            font-size: 25px; } }
        @media (max-width: 768px) {
          .header .header-nav .header-nav-div .header-nav-div-ul .header-nav-div-ul-li {
            font-size: 25px; } }
        @media (max-width: 576px) {
          .header .header-nav .header-nav-div .header-nav-div-ul .header-nav-div-ul-li {
            font-size: 25px; } }
        .header .header-nav .header-nav-div .header-nav-div-ul .header-nav-div-ul-li a {
          transition: 0.5s; }
          .header .header-nav .header-nav-div .header-nav-div-ul .header-nav-div-ul-li a:hover {
            color: #CE1212; }

.footer {
  background-color: #630000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px 1px black;
  position: relative;
  z-index: 1000; }
  .footer .footer-title {
    font-family: "Bebas Neue", cursive;
    font-size: 50px;
    color: white;
    margin-top: 15px; }
    @media (max-width: 1400px) {
      .footer .footer-title {
        font-size: 50px; } }
    @media (max-width: 1200px) {
      .footer .footer-title {
        font-size: 45px; } }
    @media (max-width: 992px) {
      .footer .footer-title {
        font-size: 40px; } }
    @media (max-width: 768px) {
      .footer .footer-title {
        font-size: 40px; } }
    @media (max-width: 576px) {
      .footer .footer-title {
        font-size: 30px; } }
  .footer .footer-icons {
    margin: 10px 0px 20px 0px; }
    .footer .footer-icons .footer-icons-link {
      color: white;
      margin: 10px;
      transition: 0.2s; }
      .footer .footer-icons .footer-icons-link:hover {
        color: #CE1212; }

.divisor {
  background-color: #630000;
  padding: 10px;
  width: 100%;
  min-height: 7vh;
  box-shadow: 0 0 10px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: relative; }
  .divisor h2 {
    font-family: "Bebas Neue", cursive;
    font-size: 50px;
    color: white;
    margin: 0; }
    @media (max-width: 576px) {
      .divisor h2 {
        font-size: 40px; } }

.main-index .carousel .carousel-inner {
  position: relative; }
  .main-index .carousel .carousel-inner .main-index-txt {
    position: absolute;
    margin: 200px;
    z-index: 1000;
    text-shadow: 0 0 10px black; }
    @media (max-width: 1400px) {
      .main-index .carousel .carousel-inner .main-index-txt {
        margin: 100px; } }
    @media (max-width: 1200px) {
      .main-index .carousel .carousel-inner .main-index-txt {
        margin: 80px; } }
    @media (max-width: 992px) {
      .main-index .carousel .carousel-inner .main-index-txt {
        margin: 60px; } }
    @media (max-width: 768px) {
      .main-index .carousel .carousel-inner .main-index-txt {
        margin: 40px; } }
    @media (max-width: 576px) {
      .main-index .carousel .carousel-inner .main-index-txt {
        margin: 30px; } }
    .main-index .carousel .carousel-inner .main-index-txt .main-index-txt-title {
      color: white;
      font-family: "Bebas Neue", cursive;
      font-size: 110px; }
      @media (max-width: 1400px) {
        .main-index .carousel .carousel-inner .main-index-txt .main-index-txt-title {
          font-size: 90px; } }
      @media (max-width: 1200px) {
        .main-index .carousel .carousel-inner .main-index-txt .main-index-txt-title {
          font-size: 80px; } }
      @media (max-width: 992px) {
        .main-index .carousel .carousel-inner .main-index-txt .main-index-txt-title {
          font-size: 70px; } }
      @media (max-width: 768px) {
        .main-index .carousel .carousel-inner .main-index-txt .main-index-txt-title {
          font-size: 60px; } }
      @media (max-width: 576px) {
        .main-index .carousel .carousel-inner .main-index-txt .main-index-txt-title {
          font-size: 40px; } }
    .main-index .carousel .carousel-inner .main-index-txt .main-index-txt-p {
      color: white;
      font-family: "Bebas Neue", cursive;
      font-size: 40px; }
      @media (max-width: 1400px) {
        .main-index .carousel .carousel-inner .main-index-txt .main-index-txt-p {
          font-size: 35px; } }
      @media (max-width: 1200px) {
        .main-index .carousel .carousel-inner .main-index-txt .main-index-txt-p {
          font-size: 35px; } }
      @media (max-width: 992px) {
        .main-index .carousel .carousel-inner .main-index-txt .main-index-txt-p {
          font-size: 35px; } }
      @media (max-width: 768px) {
        .main-index .carousel .carousel-inner .main-index-txt .main-index-txt-p {
          font-size: 30px; } }
      @media (max-width: 576px) {
        .main-index .carousel .carousel-inner .main-index-txt .main-index-txt-p {
          font-size: 20px; } }
  .main-index .carousel .carousel-inner #slide1 {
    background-image: url(./../img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 90vh; }
  .main-index .carousel .carousel-inner #slide2 {
    background-image: url(./../img/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 90vh; }
  .main-index .carousel .carousel-inner #slide3 {
    background-image: url(./../img/bg3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 90vh; }
  .main-index .carousel .carousel-inner #slide4 {
    background-image: url(./../img/bg4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 90vh; }

.main-index-nosotros {
  display: flex;
  background-color: #1B1717;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh; }
  .main-index-nosotros .main-index-nosotros-div {
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-index-nosotros .main-index-nosotros-div .main-index-nosotros-div-txt {
      min-height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(./../img/nosotrosindex.png);
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      text-shadow: 0 0 20px black; }
      .main-index-nosotros .main-index-nosotros-div .main-index-nosotros-div-txt p {
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        color: white;
        width: 60%;
        text-align: center;
        text-shadow: 1px 1px 3px black; }
        @media (max-width: 1400px) {
          .main-index-nosotros .main-index-nosotros-div .main-index-nosotros-div-txt p {
            width: 80%; } }
        @media (max-width: 1200px) {
          .main-index-nosotros .main-index-nosotros-div .main-index-nosotros-div-txt p {
            width: 90%; } }
        @media (max-width: 992px) {
          .main-index-nosotros .main-index-nosotros-div .main-index-nosotros-div-txt p {
            font-size: 20px; } }
        @media (max-width: 768px) {
          .main-index-nosotros .main-index-nosotros-div .main-index-nosotros-div-txt p {
            margin-top: 80px; } }
        @media (max-width: 576px) {
          .main-index-nosotros .main-index-nosotros-div .main-index-nosotros-div-txt p {
            font-size: 20px; } }
      .main-index-nosotros .main-index-nosotros-div .main-index-nosotros-div-txt a {
        text-align: center;
        text-decoration: none;
        padding: 10px;
        min-width: 20%;
        background-color: #810000;
        font-family: "Bebas Neue", cursive;
        font-size: 25px;
        color: white;
        border-radius: 10px;
        transition: 0.5s;
        box-shadow: 0 0 10px 1px black;
        margin-top: 30px; }
        .main-index-nosotros .main-index-nosotros-div .main-index-nosotros-div-txt a:hover {
          transform: translateY(-5px);
          color: #CE1212; }
        @media (max-width: 768px) {
          .main-index-nosotros .main-index-nosotros-div .main-index-nosotros-div-txt a {
            margin-bottom: 30px;
            min-width: 40%; } }

.main-index-sucursales {
  display: flex;
  background-color: #1B1717;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px; }
  .main-index-sucursales .main-index-sucursales-div {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    .main-index-sucursales .main-index-sucursales-div .main-index-sucursales-div-img {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      min-height: 25vh; }
      @media (max-width: 768px) {
        .main-index-sucursales .main-index-sucursales-div .main-index-sucursales-div-img {
          flex-direction: column; } }
      .main-index-sucursales .main-index-sucursales-div .main-index-sucursales-div-img a {
        width: 33%;
        text-align: center; }
        @media (max-width: 768px) {
          .main-index-sucursales .main-index-sucursales-div .main-index-sucursales-div-img a {
            margin: 15px;
            width: 100%; } }
        .main-index-sucursales .main-index-sucursales-div .main-index-sucursales-div-img a img {
          width: 100%;
          transition: 0.5s; }
          .main-index-sucursales .main-index-sucursales-div .main-index-sucursales-div-img a img:hover {
            transform: scale(1.05); }

.main-carta .main-carta-fondo {
  background-image: url(../img/restaurant.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Hamburguesas */
  /* Acompanamiento */
  /* Pizzas */ }
  .main-carta .main-carta-fondo h2 {
    font-family: "Bebas Neue", cursive;
    font-size: 70px;
    color: white;
    margin: 40px 0px 20px 0px;
    text-shadow: black 0 0 10px; }
    @media (max-width: 768px) {
      .main-carta .main-carta-fondo h2 {
        font-size: 60px; } }
    @media (max-width: 576px) {
      .main-carta .main-carta-fondo h2 {
        font-size: 40px; } }
  .main-carta .main-carta-fondo .main-carta-fondo-burgers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    .main-carta .main-carta-fondo .main-carta-fondo-burgers .main-carta-fondo-burgers-item {
      margin: 20px;
      padding: 20px;
      border-radius: 15px;
      width: 60%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
      justify-content: center;
      color: white;
      background-color: rgba(26, 26, 26, 0.801);
      transition: 0.4s; }
      @media (max-width: 1400px) {
        .main-carta .main-carta-fondo .main-carta-fondo-burgers .main-carta-fondo-burgers-item {
          width: 70%; } }
      @media (max-width: 768px) {
        .main-carta .main-carta-fondo .main-carta-fondo-burgers .main-carta-fondo-burgers-item {
          width: 80%;
          grid-template-columns: 1fr; } }
      .main-carta .main-carta-fondo .main-carta-fondo-burgers .main-carta-fondo-burgers-item .main-carta-fondo-burgers-item-img {
        width: 80%;
        justify-self: center;
        align-self: center;
        grid-row: 1/3; }
        @media (max-width: 992px) {
          .main-carta .main-carta-fondo .main-carta-fondo-burgers .main-carta-fondo-burgers-item .main-carta-fondo-burgers-item-img {
            width: 90%; } }
        @media (max-width: 768px) {
          .main-carta .main-carta-fondo .main-carta-fondo-burgers .main-carta-fondo-burgers-item .main-carta-fondo-burgers-item-img {
            width: 60%; } }
      .main-carta .main-carta-fondo .main-carta-fondo-burgers .main-carta-fondo-burgers-item h3 {
        font-family: "Bebas Neue", cursive;
        font-size: 40px;
        padding: 20px 10px; }
        @media (max-width: 768px) {
          .main-carta .main-carta-fondo .main-carta-fondo-burgers .main-carta-fondo-burgers-item h3 {
            font-size: 40px;
            text-align: center; } }
      .main-carta .main-carta-fondo .main-carta-fondo-burgers .main-carta-fondo-burgers-item p {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        width: 90%;
        padding: 0px 10px; }
        @media (max-width: 768px) {
          .main-carta .main-carta-fondo .main-carta-fondo-burgers .main-carta-fondo-burgers-item p {
            display: none; } }
      .main-carta .main-carta-fondo .main-carta-fondo-burgers .main-carta-fondo-burgers-item .btn-burger {
        display: none; }
        @media (max-width: 768px) {
          .main-carta .main-carta-fondo .main-carta-fondo-burgers .main-carta-fondo-burgers-item .btn-burger {
            display: block;
            justify-self: center;
            background-color: rgba(255, 255, 255, 0);
            border: solid 2px #424242;
            width: 40%;
            font-family: "Roboto", sans-serif; }
            .main-carta .main-carta-fondo .main-carta-fondo-burgers .main-carta-fondo-burgers-item .btn-burger:hover {
              box-shadow: none; } }
  .main-carta .main-carta-fondo .main-carta-fondo-acompanamientos {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%; }
    @media (max-width: 992px) {
      .main-carta .main-carta-fondo .main-carta-fondo-acompanamientos {
        width: 90%; } }
    @media (max-width: 768px) {
      .main-carta .main-carta-fondo .main-carta-fondo-acompanamientos {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .main-carta .main-carta-fondo .main-carta-fondo-acompanamientos .main-carta-fondo-acompanamientos-item {
      margin: 0px 0px 20px 0px;
      border-radius: 15px;
      width: 80%;
      padding: 0 0 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: rgba(26, 26, 26, 0.801);
      transition: 0.4s; }
      @media (max-width: 768px) {
        .main-carta .main-carta-fondo .main-carta-fondo-acompanamientos .main-carta-fondo-acompanamientos-item {
          width: 60%;
          margin: 15px;
          min-height: 40vh; } }
      .main-carta .main-carta-fondo .main-carta-fondo-acompanamientos .main-carta-fondo-acompanamientos-item .main-carta-fondo-acompanamientos-item-img {
        width: 70%;
        margin: 15px; }
        @media (max-width: 768px) {
          .main-carta .main-carta-fondo .main-carta-fondo-acompanamientos .main-carta-fondo-acompanamientos-item .main-carta-fondo-acompanamientos-item-img {
            width: 70%; } }
      .main-carta .main-carta-fondo .main-carta-fondo-acompanamientos .main-carta-fondo-acompanamientos-item h3 {
        font-family: "Bebas Neue", cursive;
        font-size: 40px;
        padding: 20px 10px;
        text-align: center; }
        @media (max-width: 1200px) {
          .main-carta .main-carta-fondo .main-carta-fondo-acompanamientos .main-carta-fondo-acompanamientos-item h3 {
            font-size: 30px; } }
        @media (max-width: 768px) {
          .main-carta .main-carta-fondo .main-carta-fondo-acompanamientos .main-carta-fondo-acompanamientos-item h3 {
            font-size: 35px; } }
  .main-carta .main-carta-fondo .main-carta-fondo-pizzas {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%; }
    @media (max-width: 1400px) {
      .main-carta .main-carta-fondo .main-carta-fondo-pizzas {
        width: 100%; } }
    @media (max-width: 768px) {
      .main-carta .main-carta-fondo .main-carta-fondo-pizzas {
        width: 90%;
        grid-template-columns: 1fr; } }
    .main-carta .main-carta-fondo .main-carta-fondo-pizzas .main-carta-fondo-pizzas-item {
      margin: 0px 0px 40px 0px;
      border-radius: 15px;
      width: 90%;
      min-height: 75vh;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: rgba(26, 26, 26, 0.801);
      transition: 0.4s; }
      @media (max-width: 768px) {
        .main-carta .main-carta-fondo .main-carta-fondo-pizzas .main-carta-fondo-pizzas-item {
          width: 80%; } }
      @media (max-width: 576px) {
        .main-carta .main-carta-fondo .main-carta-fondo-pizzas .main-carta-fondo-pizzas-item {
          font-size: 20px;
          min-height: 0vh; } }
      .main-carta .main-carta-fondo .main-carta-fondo-pizzas .main-carta-fondo-pizzas-item .main-carta-fondo-pizzas-item-img {
        width: 80%;
        margin: 15px; }
        @media (max-width: 768px) {
          .main-carta .main-carta-fondo .main-carta-fondo-pizzas .main-carta-fondo-pizzas-item .main-carta-fondo-pizzas-item-img {
            width: 60%; } }
      .main-carta .main-carta-fondo .main-carta-fondo-pizzas .main-carta-fondo-pizzas-item h3 {
        font-family: "Bebas Neue", cursive;
        font-size: 40px;
        padding: 20px 10px;
        text-align: center; }
        @media (max-width: 1200px) {
          .main-carta .main-carta-fondo .main-carta-fondo-pizzas .main-carta-fondo-pizzas-item h3 {
            font-size: 35px;
            text-align: center; } }
        @media (max-width: 768px) {
          .main-carta .main-carta-fondo .main-carta-fondo-pizzas .main-carta-fondo-pizzas-item h3 {
            font-size: 40px; } }
      .main-carta .main-carta-fondo .main-carta-fondo-pizzas .main-carta-fondo-pizzas-item p {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        width: 90%;
        padding: 0px 10px;
        text-align: center; }
        @media (max-width: 992px) {
          .main-carta .main-carta-fondo .main-carta-fondo-pizzas .main-carta-fondo-pizzas-item p {
            font-size: 20px;
            justify-self: center;
            text-align: center; } }
        @media (max-width: 576px) {
          .main-carta .main-carta-fondo .main-carta-fondo-pizzas .main-carta-fondo-pizzas-item p {
            font-size: 16px; } }

.main-sucursales {
  background-color: #a5a5a5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: center; }
  @media (max-width: 768px) {
    .main-sucursales {
      grid-template-columns: 1fr; } }
  .main-sucursales .main-sucursales-div1 {
    padding: 20px 10px 10px 20px; }
    @media (max-width: 768px) {
      .main-sucursales .main-sucursales-div1 {
        padding: 5px 10px; } }
    .main-sucursales .main-sucursales-div1 #sucursal1 {
      color: white;
      text-decoration: none;
      background-image: url(../img/sucursal1.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      min-height: 40vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 0 0 20px black;
      transition: 0.4s; }
      .main-sucursales .main-sucursales-div1 #sucursal1:hover {
        z-index: 1000;
        transform: scale(1.02); }
      .main-sucursales .main-sucursales-div1 #sucursal1 h2 {
        font-family: "Bebas Neue", cursive;
        font-size: 70px; }
      @media (max-width: 768px) {
        .main-sucursales .main-sucursales-div1 #sucursal1 {
          min-height: 30vh; } }
  .main-sucursales .main-sucursales-div2 {
    padding: 20px 20px 10px 10px; }
    @media (max-width: 768px) {
      .main-sucursales .main-sucursales-div2 {
        padding: 5px 10px; } }
    .main-sucursales .main-sucursales-div2 #sucursal2 {
      color: white;
      text-decoration: none;
      background-image: url(../img/sucursal2.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      min-height: 40vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 0 0 20px black;
      transition: 0.4s; }
      @media (max-width: 768px) {
        .main-sucursales .main-sucursales-div2 #sucursal2 {
          min-height: 30vh; } }
      .main-sucursales .main-sucursales-div2 #sucursal2:hover {
        z-index: 1000;
        transform: scale(1.02); }
      .main-sucursales .main-sucursales-div2 #sucursal2 h2 {
        font-family: "Bebas Neue", cursive;
        font-size: 70px; }
  .main-sucursales .main-sucursales-div3 {
    padding: 10px 10px 20px 20px; }
    @media (max-width: 768px) {
      .main-sucursales .main-sucursales-div3 {
        padding: 5px 10px; } }
    .main-sucursales .main-sucursales-div3 #sucursal3 {
      color: white;
      text-decoration: none;
      background-image: url(../img/sucursal3.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      min-height: 40vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 0 0 20px black;
      transition: 0.4s; }
      @media (max-width: 768px) {
        .main-sucursales .main-sucursales-div3 #sucursal3 {
          min-height: 30vh; } }
      .main-sucursales .main-sucursales-div3 #sucursal3:hover {
        z-index: 1000;
        transform: scale(1.02); }
      .main-sucursales .main-sucursales-div3 #sucursal3 h2 {
        font-family: "Bebas Neue", cursive;
        font-size: 70px; }
  .main-sucursales .main-sucursales-div4 {
    padding: 10px 20px 20px 10px; }
    @media (max-width: 768px) {
      .main-sucursales .main-sucursales-div4 {
        padding: 5px 10px; } }
    .main-sucursales .main-sucursales-div4 #sucursal4 {
      color: white;
      text-decoration: none;
      background-image: url(../img/sucursal4.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      min-height: 40vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 0 0 20px black;
      transition: 0.4s; }
      @media (max-width: 768px) {
        .main-sucursales .main-sucursales-div4 #sucursal4 {
          min-height: 30vh; } }
      .main-sucursales .main-sucursales-div4 #sucursal4:hover {
        z-index: 1000;
        transform: scale(1.02); }
      .main-sucursales .main-sucursales-div4 #sucursal4 h2 {
        font-family: "Bebas Neue", cursive;
        font-size: 70px; }

.nosotros {
  background-image: url(../img/personas.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .nosotros .nosotros-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    background: rgba(0, 0, 0, 0.5); }
    .nosotros .nosotros-div .nosotros-div-title {
      font-family: "Bebas Neue", cursive;
      font-size: 80px;
      color: white;
      margin-top: 40px; }
      @media (max-width: 1400px) {
        .nosotros .nosotros-div .nosotros-div-title {
          font-size: 70px; } }
      @media (max-width: 1200px) {
        .nosotros .nosotros-div .nosotros-div-title {
          font-size: 60px; } }
      @media (max-width: 992px) {
        .nosotros .nosotros-div .nosotros-div-title {
          font-size: 50px; } }
      @media (max-width: 768px) {
        .nosotros .nosotros-div .nosotros-div-title {
          font-size: 50px; } }
      @media (max-width: 576px) {
        .nosotros .nosotros-div .nosotros-div-title {
          font-size: 50px; } }
    .nosotros .nosotros-div .nosotros-div-txt {
      font-family: "Roboto", sans-serif;
      color: white;
      width: 70%;
      font-size: 40px;
      text-align: center; }
      @media (max-width: 1400px) {
        .nosotros .nosotros-div .nosotros-div-txt {
          font-size: 40px;
          width: 90%; } }
      @media (max-width: 1200px) {
        .nosotros .nosotros-div .nosotros-div-txt {
          font-size: 35px; } }
      @media (max-width: 992px) {
        .nosotros .nosotros-div .nosotros-div-txt {
          font-size: 30px; } }
      @media (max-width: 768px) {
        .nosotros .nosotros-div .nosotros-div-txt {
          font-size: 25px; } }
      @media (max-width: 576px) {
        .nosotros .nosotros-div .nosotros-div-txt {
          font-size: 20px;
          width: 95%; } }

.contacto {
  background-color: #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; }
  .contacto .contacto-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%; }
    @media (max-width: 768px) {
      .contacto .contacto-card {
        width: 70%; } }
    @media (max-width: 576px) {
      .contacto .contacto-card {
        width: 80%; } }
    .contacto .contacto-card .contacto-card-h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 70px;
      margin-top: 40px;
      margin-bottom: 40px;
      color: #810000; }
      @media (max-width: 1400px) {
        .contacto .contacto-card .contacto-card-h2 {
          font-size: 70px;
          margin: 20px; } }
      @media (max-width: 1200px) {
        .contacto .contacto-card .contacto-card-h2 {
          font-size: 70px;
          margin: 20px; } }
      @media (max-width: 992px) {
        .contacto .contacto-card .contacto-card-h2 {
          font-size: 60px;
          margin: 20px; } }
      @media (max-width: 768px) {
        .contacto .contacto-card .contacto-card-h2 {
          font-size: 50px;
          margin: 20px; } }
      @media (max-width: 576px) {
        .contacto .contacto-card .contacto-card-h2 {
          font-size: 40px;
          margin: 20px; } }
    .contacto .contacto-card .contacto-card-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; }
      .contacto .contacto-card .contacto-card-form .contacto-card-form-div {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        @media (max-width: 768px) {
          .contacto .contacto-card .contacto-card-form .contacto-card-form-div {
            flex-direction: column; } }
        .contacto .contacto-card .contacto-card-form .contacto-card-form-div .contacto-card-form-div-text {
          width: 30%;
          padding: 15px;
          font-family: "Roboto", sans-serif;
          border: none;
          margin-bottom: 20px; }
          @media (max-width: 768px) {
            .contacto .contacto-card .contacto-card-form .contacto-card-form-div .contacto-card-form-div-text {
              width: 100%; } }
      .contacto .contacto-card .contacto-card-form .contacto-card-form-textarea {
        width: 100%;
        height: 400px;
        padding: 15px;
        font-family: "Roboto", sans-serif;
        border: none; }
        @media (max-width: 1400px) {
          .contacto .contacto-card .contacto-card-form .contacto-card-form-textarea {
            height: 350px; } }
        @media (max-width: 768px) {
          .contacto .contacto-card .contacto-card-form .contacto-card-form-textarea {
            height: 230px; } }
      .contacto .contacto-card .contacto-card-form .contacto-card-form-submit {
        width: 180px;
        padding: 15px;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #1B1717;
        color: white;
        border: none;
        margin: 40px; }

.main-palermo {
  background-color: #a5a5a5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: stretch;
  align-items: center;
  padding: 20px; }
  @media (max-width: 992px) {
    .main-palermo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(../img/sucursal1.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; } }
  .main-palermo .main-palermo-div1 {
    grid-row: 1/3;
    color: white;
    text-decoration: none;
    background-image: url(../img/sucursal1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    border-radius: 30px; }
    .main-palermo .main-palermo-div1 h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 90px; }
    @media (max-width: 992px) {
      .main-palermo .main-palermo-div1 {
        display: none; } }
  .main-palermo .main-palermo-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .main-palermo .main-palermo-div2 .main-palermo-div2-card {
      background-color: #fff;
      border-radius: 30px;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      text-align: center;
      box-shadow: 0 0 20px black;
      margin-bottom: 10px; }
      @media (max-width: 992px) {
        .main-palermo .main-palermo-div2 .main-palermo-div2-card {
          width: 90%; } }
      .main-palermo .main-palermo-div2 .main-palermo-div2-card .title {
        font-family: "Bebas Neue", cursive;
        font-size: 80px;
        margin: 15px; }
      .main-palermo .main-palermo-div2 .main-palermo-div2-card .subtitle, .main-palermo .main-palermo-div2 .main-palermo-div2-card .dias, .main-palermo .main-palermo-div2 .main-palermo-div2-card .telefono {
        font-family: "Roboto", sans-serif;
        font-size: 30px; }
      .main-palermo .main-palermo-div2 .main-palermo-div2-card .calle, .main-palermo .main-palermo-div2 .main-palermo-div2-card .horarios, .main-palermo .main-palermo-div2 .main-palermo-div2-card .num {
        font-family: "Roboto", sans-serif;
        font-size: 20px; }
  .main-palermo .main-palermo-div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .main-palermo .main-palermo-div3 iframe {
      border-radius: 30px;
      width: 90%;
      align-items: center;
      min-height: 40vh;
      box-shadow: 0 0 20px black;
      margin-top: 10px; }

.main-belgrano {
  background-color: #a5a5a5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: stretch;
  align-items: center;
  padding: 20px; }
  @media (max-width: 992px) {
    .main-belgrano {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(../img/sucursal2.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; } }
  .main-belgrano .main-belgrano-div1 {
    grid-row: 1/3;
    color: white;
    text-decoration: none;
    background-image: url(../img/sucursal2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    border-radius: 30px; }
    .main-belgrano .main-belgrano-div1 h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 90px; }
    @media (max-width: 992px) {
      .main-belgrano .main-belgrano-div1 {
        display: none; } }
  .main-belgrano .main-belgrano-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .main-belgrano .main-belgrano-div2 .main-belgrano-div2-card {
      background-color: #fff;
      border-radius: 30px;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      text-align: center;
      box-shadow: 0 0 20px black;
      margin-bottom: 10px; }
      @media (max-width: 992px) {
        .main-belgrano .main-belgrano-div2 .main-belgrano-div2-card {
          width: 90%; } }
      .main-belgrano .main-belgrano-div2 .main-belgrano-div2-card .title {
        font-family: "Bebas Neue", cursive;
        font-size: 80px;
        margin: 15px; }
      .main-belgrano .main-belgrano-div2 .main-belgrano-div2-card .subtitle, .main-belgrano .main-belgrano-div2 .main-belgrano-div2-card .dias, .main-belgrano .main-belgrano-div2 .main-belgrano-div2-card .telefono {
        font-family: "Roboto", sans-serif;
        font-size: 30px; }
      .main-belgrano .main-belgrano-div2 .main-belgrano-div2-card .calle, .main-belgrano .main-belgrano-div2 .main-belgrano-div2-card .horarios, .main-belgrano .main-belgrano-div2 .main-belgrano-div2-card .num {
        font-family: "Roboto", sans-serif;
        font-size: 20px; }
  .main-belgrano .main-belgrano-div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .main-belgrano .main-belgrano-div3 iframe {
      border-radius: 30px;
      width: 90%;
      align-items: center;
      min-height: 40vh;
      box-shadow: 0 0 20px black;
      margin-top: 10px; }

.main-caballito {
  background-color: #a5a5a5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: stretch;
  align-items: center;
  padding: 20px; }
  @media (max-width: 992px) {
    .main-caballito {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(../img/sucursal3.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; } }
  .main-caballito .main-caballito-div1 {
    grid-row: 1/3;
    color: white;
    text-decoration: none;
    background-image: url(../img/sucursal3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    border-radius: 30px; }
    .main-caballito .main-caballito-div1 h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 90px; }
    @media (max-width: 992px) {
      .main-caballito .main-caballito-div1 {
        display: none; } }
  .main-caballito .main-caballito-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .main-caballito .main-caballito-div2 .main-caballito-div2-card {
      background-color: #fff;
      border-radius: 30px;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      text-align: center;
      box-shadow: 0 0 20px black;
      margin-bottom: 10px; }
      @media (max-width: 992px) {
        .main-caballito .main-caballito-div2 .main-caballito-div2-card {
          width: 90%; } }
      .main-caballito .main-caballito-div2 .main-caballito-div2-card .title {
        font-family: "Bebas Neue", cursive;
        font-size: 80px;
        margin: 15px; }
      .main-caballito .main-caballito-div2 .main-caballito-div2-card .subtitle, .main-caballito .main-caballito-div2 .main-caballito-div2-card .dias, .main-caballito .main-caballito-div2 .main-caballito-div2-card .telefono {
        font-family: "Roboto", sans-serif;
        font-size: 30px; }
      .main-caballito .main-caballito-div2 .main-caballito-div2-card .calle, .main-caballito .main-caballito-div2 .main-caballito-div2-card .horarios, .main-caballito .main-caballito-div2 .main-caballito-div2-card .num {
        font-family: "Roboto", sans-serif;
        font-size: 20px; }
  .main-caballito .main-caballito-div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .main-caballito .main-caballito-div3 iframe {
      border-radius: 30px;
      width: 90%;
      align-items: center;
      min-height: 40vh;
      box-shadow: 0 0 20px black;
      margin-top: 10px; }

.main-devoto {
  background-color: #a5a5a5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: stretch;
  align-items: center;
  padding: 20px; }
  @media (max-width: 992px) {
    .main-devoto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(../img/sucursal4.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; } }
  .main-devoto .main-devoto-div1 {
    grid-row: 1/3;
    color: white;
    text-decoration: none;
    background-image: url(../img/sucursal4.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    border-radius: 30px; }
    .main-devoto .main-devoto-div1 h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 90px; }
    @media (max-width: 992px) {
      .main-devoto .main-devoto-div1 {
        display: none; } }
  .main-devoto .main-devoto-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .main-devoto .main-devoto-div2 .main-devoto-div2-card {
      background-color: #fff;
      border-radius: 30px;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      text-align: center;
      box-shadow: 0 0 20px black;
      margin-bottom: 10px; }
      @media (max-width: 992px) {
        .main-devoto .main-devoto-div2 .main-devoto-div2-card {
          width: 90%; } }
      .main-devoto .main-devoto-div2 .main-devoto-div2-card .title {
        font-family: "Bebas Neue", cursive;
        font-size: 80px;
        margin: 15px; }
      .main-devoto .main-devoto-div2 .main-devoto-div2-card .subtitle, .main-devoto .main-devoto-div2 .main-devoto-div2-card .dias, .main-devoto .main-devoto-div2 .main-devoto-div2-card .telefono {
        font-family: "Roboto", sans-serif;
        font-size: 30px; }
      .main-devoto .main-devoto-div2 .main-devoto-div2-card .calle, .main-devoto .main-devoto-div2 .main-devoto-div2-card .horarios, .main-devoto .main-devoto-div2 .main-devoto-div2-card .num {
        font-family: "Roboto", sans-serif;
        font-size: 20px; }
  .main-devoto .main-devoto-div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .main-devoto .main-devoto-div3 iframe {
      border-radius: 30px;
      width: 90%;
      align-items: center;
      min-height: 40vh;
      box-shadow: 0 0 20px black;
      margin-top: 10px; }

/*# sourceMappingURL=main.css.map */
